<%- include header %>
<!-- <div class="row">
    <div>
        <% if (user && (user.name == post.name)) { %>
        <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
        <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
        <% } %>
        <% if (user && (user.name != post.name)) { %>
        <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
        <% } %>
    </div>
    <main>
        <h2 class="post-title"><%= post.title %></h2>
        <div class="info">
            <div class="post-meta">
                <div class="post-meta">
                    <span class="post-name">作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
                    <span class="post-time">日期：<%= post.time.minute %></span>
                    <i class="iconfont">&#xe60f;</i>
                    标签：<% post.tags.forEach(function (tag, index) { %>
                    <% if (tag) { %>
                    <a href="/tags/<%= tag %>"><%= tag %></a>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="article-content">
            <%- post.post %>
        </div>
        <div class="info">
            <div class="post-statistic">
                <span>阅读：<%= post.pv %></span>
                <span>评论：<%= post.comments.length %></span>
                <span>转载：
                    <% if (post.reprint_info.reprint_to) { %>
                    <%= post.reprint_info.reprint_to.length %>
                    <% } else { %>
                    <%= 0 %>
                    <% } %>
                </span>
            </div>
        </div>
        <%- include comment %>
    </main>
</div> -->

<style>
    @media only screen and (min-width: 641px) {
        .am-offcanvas {
            display: block;
            position: static;
            background: none;
        }

        .am-offcanvas-bar {
            position: static;
            width: auto;
            background: none;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        .am-offcanvas-bar:after {
            content: none;
        }

    }

    @media only screen and (max-width: 640px) {
        .am-offcanvas-bar .am-nav>li>a {
            color:#ccc;
            border-radius: 0;
            border-top: 1px solid rgba(0,0,0,.3);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
        }

        .am-offcanvas-bar .am-nav>li>a:hover {
            background: #404040;
            color: #fff
        }

        .am-offcanvas-bar .am-nav>li.am-nav-header {
            color: #777;
            background: #404040;
            box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
            text-shadow: 0 1px 0 rgba(0,0,0,.5);
            border-top: 1px solid rgba(0,0,0,.3);
            font-weight: 400;
            font-size: 75%
        }

        .am-offcanvas-bar .am-nav>li.am-active>a {
            background: #1a1a1a;
            color: #fff;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
        }

        .am-offcanvas-bar .am-nav>li+li {
            margin-top: 0;
        }
    }

    .my-head {
        margin-top: 40px;
        text-align: center;
    }

    .my-button {
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 0;
    }
    .my-sidebar {
        padding-right: 0;
        border-right: 1px solid #eeeeee;
    }
</style>

<header class="am-g my-head">
    <div class="am-u-sm-12 am-article">
        <h1 class="am-article-title"><%= post.title %></h1>
        <a href="/u/<%= post.name %>" class="am-article-meta"><%= post.name %></a>
    </div>
</header>

<hr class="am-article-divider"/>
<div class="am-g am-g-fixed">
    <div class="am-u-md-9 am-u-md-push-3">
        <div class="am-g">
            <div class="am-u-sm-11 am-u-sm-centered">
                <div class="am-cf am-article">
                    <!-- <div class="am-align-left">
                        <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt="" width="240">
                    </div> -->
                    <%- post.post %>
                </div>

                <hr class="am-article-divider" name="comments">

                <%- include comment %>
            </div>
        </div>
    </div>

    <div class="am-u-md-3 am-u-md-pull-9 my-sidebar">
        <div class="am-offcanvas" id="sidebar">
            <div class="am-offcanvas-bar">
                <ul class="am-nav">
                    <li><a href="#"><%= post.title %></a></li>
                    <li class="am-nav-header">目录</li>
                    <li><a href="#">原文</a></li>
                    <li><a href="#comments">读者评论</a></li>
                    <li><a href="#commit-comments">发表评论</a></li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#sidebar" class="am-btn am-btn-sm am-btn-success am-icon-bars am-show-sm-only my-button" data-am-offcanvas><span class="am-sr-only">侧栏导航</span></a>
</div>

<%- include footer %>