<%- include header %>
<div class="row">
    <div>
        <% if (user && (user.name == post.name)) { %>
        <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
        <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
        <% } %>
       <!-- <% if (user && (user.name != post.name)) { %>
        <span><a class="edit" href="/reprint/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">转载</a></span>
        <% } %> -->
    </div>
    <main>
        <h2 class="post-title"><%= post.title %></h2>
        <div class="info">
            <div class="post-meta">
                <div class="post-meta">
                    <span class="post-name">作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
                    <span class="post-time">日期：<%= post.time.minute %></span>
                    <i class="iconfont">&#xe60f;</i>
                    标签：<% post.tags.forEach(function (tag, index) { %>
                    <% if (tag) { %>
                    <a href="/tags/<%= tag %>"><%= tag %></a>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="article-content">
            <%- post.post %>
        </div>
        <div class="info">
            <div class="post-statistic">
                <span>阅读：<%= post.pv %></span>
                <span>评论：<%= post.comments.length %></span>
                <span>转载：
                    <% if (post.reprint_info.reprint_to) { %>
                    <%= post.reprint_info.reprint_to.length %>
                    <% } else { %>
                    <%= 0 %>
                    <% } %>
                </span>
            </div>
        </div>
        <%- include comment %>
    </main>
</div>

<%- include footer %>