<style>
    .comment-close {
        float: right;
    }
</style>
<% post.comments.forEach(function (comment, index) { %>
<ul class="am-comments-list am-comments-list-flip comments">
    <li class="am-comment">
        <a href="/u/<%= comment.name %>">
            <img src="<%= comment.head %>" alt="" class="am-comment-avatar" width="48" height="48">
        </a>
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    <a href="/u/<%= comment.name %>" class="am-comment-author"><%= comment.name %></a>
                    评论于 <time datetime="<%= comment.time %>" title="<%= comment.time %>"><%= comment.time %></time>
                    <% if (user && user.name == post.name) { %>
                    <a href="/removeComment/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= comment.name %>/<%= comment.time %>" class="am-icon-close comment-close"></a>
                    <% } %>
                </div>
            </header>
            <div class="am-comment-bd"><%- comment.content %></div>
        </div>
    </li>
</ul>
<% }) %>

<ul class="am-comments-list am-comments-list-flip commit-comments" id="article-commit-comments">
    <li class="am-comment am-comment-flip">
        <% if (user) { %>
        <img src="<%= user.head %>" alt="" class="am-comment-avatar" width="48" height="48">
        <form method="post">
            <div class="am-comment-main">
                <header class="am-comment-hd">
                    <div class="am-comment-meta">
                        添加评论
                    </div>
                </header>
                <textarea class="am-comment-bd" name="content" style="width: 100%;border: none;outline: none;"></textarea>
            </div>
            <input type="hidden" name="name" value="<%= user.name %>">
            <button type="submit" style="margin-right: 64px;" onclick="return document.getElementsByTagName('textarea')[0].value.length > 0 ? true : false" class="am-btn am-btn-default am-comment am-align-right">提交</button>
        </form>
        <% } else { %>
        <img src="/images/head.jpg" alt="" class="am-comment-avatar" width="48" height="48">
        <div class="am-comment-main">
            <header class="am-comment-hd">
                <div class="am-comment-meta">
                    添加评论
                </div>
            </header>
            <div class="am-comment-bd">登陆后才能评论哦~</div>
        </div>
        <% } %>
    </li>
</ul>



