<br />
<% post.comments.forEach(function (comment, index) { %>
<ul class="media-list">
    <li class="media">
        <a href="/u/<%= post.name %>">
            <img class="media-object" src="<%= comment.head %>" alt="头像">
        </a>
        <a href="<%= comment.website %>"><%= comment.name %></a>
        <span> 评论于 <%= comment.time %></span>
    </li>
    <li class="media-content"><%- comment.content %></li>
</ul>
<% }) %>

<form method="post" class="comment">
    <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
    <% } else { %>
    姓名：<input type="text" name="name" /><br />
    邮箱：<input type="text" name="email" /><br />
    <% } %>
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="留言" />
</form>