<%- include header %>
<!--首页文章列表-->
<div class="container">
    <div class="row">
        <main>
            <% posts.forEach(function (post, index) { %>
            <article>
                <div class="info">
                    <h2 class="post-title">
                        <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
                    </h2>
                    <div class="post-meta">
                        <span class="post-name">作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
                        <span class="post-time">日期：<%= post.time.minute %></span>
                    </div>
                </div>
                <div class="post-content"><%- post.post %></div>
                <div class="post-permalink">
                    <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="btn">阅读全文</a>
                </div>
                <div class="post-tags">
                    <i class="iconfont">&#xe60f;</i>
                    标签：<% post.tags.forEach(function (tag, index) { %>
                        <% if (tag) { %>
                        <a href="/tags/<%= tag %>"><%= tag %></a>
                        <% } %>
                    <% }) %>
                    <div class="post-statistic">
                        <span>阅读：<%= post.pv %></span>
                        <span>评论：<%= post.comments.length %></span>
                        <!--<span>
                            转载：
                            <% if (post.reprint_info.reprint_to) { %>
                            <%= post.reprint_info.reprint_to.length %>
                            <% } else { %>
                            <%= 0 %>
                            <% } %>
                        </span>-->
                    </div>
                </div>
            </article>
            <% }) %>
        </main>
        <aside>
            <%- include tags %>
        </aside>
    </div>
</div>
<%- include paging %>
<%- include footer %>