<%- include header %>
<% posts.forEach(function (post, index) { %>
<article class="user-post">
    <div class="user-post-info">
        <a class="user-post-title" href="<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
        <div class="user-post-meta">
            <span class="user-post-name">作者：<a href="/u/<%= post.name %>"><%= post.name %></a></span>
            <span class="user-post-time">日期：<%= post.time.minute %></span>
        </div>
    </div>

    <div class="user-post-tags">
        <i class="iconfont">&#xe60f;</i>
        标签：<% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <a href="/tags/<%= tag %>"><%= tag %></a>
        <% } %>
        <% }) %>
        <div class="user-post-statistic">
            <span>阅读：<%= post.pv %></span>
            <span>评论：<%= post.comments.length %></span>
        </div>
    </div>
</article>
<% }) %>
<%- include paging %>
<%- include footer %>